{% extends "base.html" %}
{% load  static %}
{% block content %}


<body>
<div class="d-flex justify-content-center align-items-center " style="padding-top: 2cm; padding-bottom: 2cm;">
  <div class="bg-white rounded-5 text-secondary shadow" style="width: 11cm;  padding: 1.5cm;">
    <div class="d-flex justify-content-center ">
      <img src="/static/img/login-icon.svg" alt="login-icon" style="height: 6rem" />
    </div>
    <div class="text-center fs-1 fw-bold">Login</div>
    <form action="" method="post">
      {% csrf_token  %}
    
      <div class="input-group mt-4">
        <div class="input-group-text bg-info">
          <img src="/static/img/username-icon.svg" alt="username-icon" style="height: 1rem" />
        </div>
        <input class="form-control bg-light" type="text" placeholder="Nombre de Usuario" name="username" />
      </div>
      <div class="input-group mt-1">
        <div class="input-group-text bg-info">
          <img src="/static/img/password-icon.svg" alt="password-icon" style="height: 1rem" />
        </div>
        <input class="form-control bg-light" type="password" placeholder="Password" name="password" />
      </div>
      <button type="submit" class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm">Iniciar Sesion</button>
    </form>
    <div class="d-flex justify-content-around mt-1">
      <div class="d-flex align-items-center gap-1">
        <input class="form-check-input" type="checkbox" />
        <div class="pt-1" style="font-size: 0.9rem">Remember me</div>
      </div>
    </div>  
  </div>
</div>   
</body>
  
{% endblock %}