<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link rel="icon" href="/static/img/logo.svg" type="image/svg">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <style>
      /* Estilos adicionales */

      body {
        background: linear-gradient( #31608b, #9bc1bc);
        
        /*color: white;*/
       /*margin: 0; 
        padding: 0; 
        box-sizing: border-box; 
        font-family: sans-serif;
        background-repeat: no-repeat;
        background-size: cover; */
         
      }
      .header {
        background-color: #635094;
        color: white;
        padding: 20px;
      }
      .combo-box {
        border-radius: 0;
        font-size: 1.5rem;
        background-color: #eee;
        color: #333;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
    </style>
</head>
{% block head %}
  <script src="/static/highcharts/code/highcharts.js" ></script>
  <script src="/static/highcharts/code/modules/exporting.js"></script>
  <script src="/static/highcharts/code/modules/export-data.js"></script>
  <script src="/static/highcharts/code/modules/accessibility.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}
{% load  static %}
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="d-flex justify-content-center ">
        <a class="nav-link" href="{% url 'app:index' %}">
          <img
          src="/static/img/logo.svg"
          alt="login-icon"
          style="height: 3rem"
        />
        </a>   
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:index' %}">Estadistica Poblacional</a>
          </li>
          <a class="nav-link" href="{% url 'app:discapacidad' %}">Discapacidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:empresas' %}">Empresas</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'app:editest' %}">Editar Estadisticas</a>
          </li>
        </ul>
        {% endif %}
        {% if request.user.is_authenticated %}
        <ul class="nav justify-content-center  ">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page">
                <img src="/static/img/login-icon.svg" alt="" style="height: 2rem">
                {{ user.username | upper }}
              </a>
          </li>
          {% else %}
          <li>
        </ul>
        
        <ul class="nav justify-content-center  ">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'app:editest' %}" aria-current="page">
                  <img src="/static/img/login-icon.svg" alt="" style="height: 2rem">
                  Login
                </a>
            </li>

          {% endif %}
            <li>
       
              {% if request.user.is_authenticated %}
             
              <a href="{% url 'app:exit' %}" class="nav-link active" aria-current="page">
                <img src="/static/img/Closse.svg" alt="Close" style=" height: 2rem;">
                Salir</a>
              {% endif %}
            </li>
        </ul>
      </div>
    </div>
  </nav>

 {% load  static %}


 {% block content %}

  <!--Aqui va el Contenido-->
  <footer>
    <p>
      Derechos Reservados
    </p>
   
  </footer>
   
{% endblock %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script >

</script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

</html>

