{% extends "base.html" %}
{% load  static %}
{% block content %}
<!--ComboBox------------------------------->
<header>
  <div class="container-fluid py-5 text-center">
    <h1>Estadística poblacional</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <select id="dataSelect" name="dataSelect" class="form-select combo-box" aria-label="Selecciona una opción" >
          <option selected>Selecciona una opción</option> 
          <option value="1">Opción 1</option>
          <option value="2">Opción 2</option>
          <option value="3">Opción 3</option>
        </select>
      </div>
    </div>
  </div>
</header>
<!------------------------------------------------------------------->
<!--------------------------------Contenedor del Grafico-------------------------->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div id="container">

        </div>
      </div>
    </div>
  </div>
<!---------------------------------------------------------------------->
<!-------------Script de Grafico---------------->
  <body>
    <script>
      var datos = '{{ datos|safe }}';
      var datosjson = JSON.parse(datos);
      console.log(datosjson.data1);

      var options = {
      chart: {
        type: 'pie'
      },
      series: [{
        name: 'Frutas',
        data: datosjson.data1
      }],

      title: {
        text: 'Frutas'
      }
    }
    
    // crea el gráfico
    var chart = Highcharts.chart('container', options);
  
    
    // función para actualizar el gráfico
    function updateChart() {
      var selectedOption = document.getElementById('dataSelect').value;
      
      // actualiza los datos del gráfico según la opción seleccionada
      /*if (selectedOption === '1') {
        chart.series[0].setData(data1);
      } else if (selectedOption === '2') {
        chart.series[0].setData(data2);
      } else if (selectedOption === '3') {
        chart.series[0].setData(data3);
      }*/

      chart.series[0].setData([]);
      

      switch (selectedOption) {
        case '1':
          chart.series[0].setData(datosjson.data1);
          break;
        case '2':
          chart.series[0].setData(datosjson.data2);
          break;
        case '3':
          chart.series[0].setData(datosjson.data3);
          break;
      }

    }
    
    // ejecuta la función updateChart cada vez que se cambia la opción seleccionada
    document.getElementById('dataSelect').addEventListener('change', updateChart);


    </script>
<script> </script>
  </body>
 <!----------------------------------------------------------------> 
   
{% endblock %}

