<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <style>
      /* Estilos adicionales */
      html,body {
        height: 100%;
      }
      body {
        background-image: linear-gradient(to bottom, #5DA770, #635094);
        color: white;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
         
      }
      .header {
        background-color: #635094;
        color: white;
        padding: 20px;
      }
      .combo-box {
        border-radius: 0;
        font-size: 1.5rem;
        background-color: #eee;
        color: #333;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
    </style>
</head>
<body>
   

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Icono</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Estadistica Poblacional</a>
          </li>
          <a class="nav-link" href="#">Personas Con Discapacidad</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Empresas Que Contratan a personas con Discapacidad</a>
          </li>
        </ul>
        <ul class="nav justify-content-center  ">
            <li class="nav-item">
                <a class="nav-link active" href="#" aria-current="page">Login</a>
            </li>
        </ul>
        
      </div>
    </div>
  </nav>
<header>
  <div class="container-fluid py-5 text-center">
    <h1>Estadística poblacional</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <select id="dataSelect" name="dataSelect" class="form-select combo-box" aria-label="Selecciona una opción" >
          <option selected>Selecciona una opción</option> 
          <option value="1">Opción 1</option>
          <option value="2">Opción 2</option>
          <option value="3">Opción 3</option>
        </select>
      </div>
    </div>
  </div>
</header>
{% load  static %}
{% block head %}
  <script src="/static/highcharts/code/highcharts.js" ></script>
  <script src="/static/highcharts/code/modules/exporting.js"></script>
  <script src="/static/highcharts/code/modules/export-data.js"></script>
  <script src="/static/highcharts/code/modules/accessibility.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div id="container">

        </div>
      </div>
    </div>
  </div>

  <body>
    <script>
      var datos = '{{ datos|safe }}';
      var datosjson = JSON.parse(datos);
      console.log(datosjson.data1);

      var options = {
      chart: {
        type: 'pie'
      },
      series: [{
        name: 'Frutas',
        data: datosjson.data1
      }],

      title: {
        text: 'Frutas'
      }
    }
    
    // crea el gráfico
    var chart = Highcharts.chart('container', options);
  
    
    // función para actualizar el gráfico
    function updateChart() {
      var selectedOption = document.getElementById('dataSelect').value;
      
      // actualiza los datos del gráfico según la opción seleccionada
      /*if (selectedOption === '1') {
        chart.series[0].setData(data1);
      } else if (selectedOption === '2') {
        chart.series[0].setData(data2);
      } else if (selectedOption === '3') {
        chart.series[0].setData(data3);
      }*/

      

      switch (selectedOption) {
        case '1':
          chart.series[0].setData(datosjson.data1);
          break;
        case '2':
          chart.series[0].setData(datosjson.data2);
          break;
        case '3':
          chart.series[0].setData(datosjson.data3);
          break;
      }

    }
    
    // ejecuta la función updateChart cada vez que se cambia la opción seleccionada
    document.getElementById('dataSelect').addEventListener('change', updateChart);


    </script>

  
  </body>
  <script type="application/javascript">
    /*var data1 = [{name : 'Hombres', y : 61}, { name : 'Mujeres' , y : 39}];
    var data2 = [{name : 'Sin Discapacidad', y : 75}, { name : 'Con Discapacidad' , y : 25}];
    Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Poblacion De el Salvador',
        align: 'left'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Pobalcion de El Salvador',
        colorByPoint: true,
        type: 'pie',
        data: data1
    }],

    events: {
            load: function () {
              document.getElementById('dataSelect').addEventListener('change', function() {
              var selectedValue = this.value;
              var newData;

              switch (selectedValue) {
                case '1':
                  newData = data1;
                  break;
                case '2':
                  newData = data2;
                  break;
              }
              chart.update({
                series: [{
                  data: newData
                }]
              });
            });   
          }
        }
  });

  const selecciones = document.querySelector('#dataSelect').value;

  console.log(selecciones)

  document.getElementById('dataSelect').addEventListener('change', function() {
  var selectedValue = this.value;
  var newData;

  switch (selectedValue) {
    case '1':
      newData = data1;
      break;
    case '2':
      newData = data2;
      break;
  }
  Highcharts.chart.update({
    series: [{
      data: newData
    }]
  });
  Chart.series[0].setData(newData);
}); */


  
  
  // ejecuta la función updateChart cada vez que se cambia la opción seleccionada

  </script>
 <!-- <script>
    window.data = {args: "{{data|safe}}"};
    console.log("{{data}}")
  </script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
   
{% endblock %}

<script >

</script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>
