{% extends "base.html" %}
{% load  static %}
{% block content %}

<!--ComboBox------------------------------->
<header>
    <div class="container-fluid py-5 text-center">
      <h1>Estadísticas de Personas Con discapacidad</h1>
      <br>
      <div class="row justify-content-center" >
        <div class="col-md-6">
          <select id="dataSelect" name="dataSelect" class="form-select combo-box" aria-label="Selecciona una opción" style="text-align: center;">
           
            <option value="1">{{ contex1.est1.estadistica0.nom_estadistica }}</option>
            <option value="2">{{ contex1.est1.estadistica1.nom_estadistica }}</option>
            <option value="3">{{ contex1.est1.estadistica2.nom_estadistica }}</option>
          </select>
        </div>
      </div>
    </div>
  </header>
  <!------------------------------------------------------------------->
  <!--------------------------------Contenedor del Grafico-------------------------->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div id="container">
  
          </div>
        </div>
      </div>
    </div>
  <!---------------------------------------------------------------------->

<!--SCRIPT DEL GRAFICO------------------------------------------------>
    <script>
    let data = JSON.parse('{{ contex2.est2|safe }}');
    console.log(data.estadistica0)
      console.log(data.estadistica2.datos_serie.leyendas_compuestas)
      var options = {
        chart: {
          type: 'pie',
        },
        series: [{
          name: data.estadistica0.nombre_serie,
          data: data.estadistica0.datos_serie
        },{
          name: '',
          data: []
        },
        {
          name: '',
          data: []
        }
      ],
  
        title: {
          text: data.estadistica0.nom_estadistica
        },
  
        plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: true,
                  format: '<b>{point.name}</b>: {point.percentage:.1f} %'
              }
          }
        },
      };

      var options2 = {

        chart: {
          type: 'column',
        },
        title: {
            text: data.estadistica2.nombre_serie
        },
        xAxis: {
            categories: data.estadistica2.datos_serie.leyendas_compuestas,
            visible: true,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Población'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        }

      };
      
      // crea el gráfico
      var chart = Highcharts.chart('container', options);
      

      // función para actualizar el gráfico
      function updateChart() {

          var selectedOption = document.getElementById('dataSelect').value;
        
          chart.series[0].setData([]);
          switch (selectedOption) {
            case '1':

              chart.update({
                chart: {
                    type: 'pie'
                },

                xAxis: {
                    categories: null,
                    crosshair: false,
                    visible: false
                },

                yAxis: {
                    min: null,
                    title: {
                        text: null
                    }
                },
                tooltip: {
                    headerFormat: null,
                    pointFormat: null,
                    footerFormat: null,
                    shared: false,
                    useHTML: false
                },
                plotOptions: {
                    column: {
                        pointPadding: null,
                        borderWidth: null
                    },
                    pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: true,
                          format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                      }
          }
                },

                series: [{
                  name: data.estadistica0.nombre_serie,
                  data: data.estadistica0.datos_serie
                },
                {
                  name: '',
                  data: []
                },
                {
                  name: '',
                  data: []
                }
              ],

                title:{
                  text: data.estadistica0.nom_estadistica
                }
               });
              chart.redraw();
              break;
            case '2':
            console.log(data.estadistica2.datos_serie.valores_h)
              chart.series[0].setData([]);
              chart.update({
                chart: {
                    type: 'column'
                },

                xAxis: {
                    categories: data.estadistica1.datos_serie.leyendas_compuestas,
                    crosshair: true,
                    visible: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Poblacion'
                    }
                },

                title:{
                  text: data.estadistica1.nom_estadistica
                }

             }); 
             chart.series[0].update({name: 'Mujeres', data: data.estadistica1.datos_serie.valores_m});
             chart.series[1].update({name: 'Hombres', data: data.estadistica1.datos_serie.valores_h});
             chart.series[2].update({
                  name: '',
                  data: [],
                  visible: false, 
                  showInLegend: false
                });
                break;
            case '3':
              console.log(data.estadistica2.datos_serie.valores_h)
              chart.series[0].setData([]);
              chart.update({
                chart: {
                    type: 'column'
                },

                xAxis: {
                    categories: data.estadistica2.datos_serie.leyendas_compuestas,
                    crosshair: true,
                    visible: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Poblacion'
                    }
                },

                title:{
                  text: data.estadistica2.nom_estadistica
                }

             }); 
             chart.series[0].update({name: 'Mujeres', data: data.estadistica2.datos_serie.valores_m});
             chart.series[1].update({name: 'Hombres', data: data.estadistica2.datos_serie.valores_h});
             chart.series[2].update({name: 'Total', data: data.estadistica2.datos_serie.valores_t, visible: true, showInLegend: true});

               break;
              
          }

      }

      // ejecuta la función updateChart cada vez que se cambia la opción seleccionada
      document.getElementById('dataSelect').addEventListener('change', updateChart);

    </script>
{% endblock %}
